<div class="row justify-content-md-center">
  <div class="col-12 text-center mb-6" style="margin-top: 5%; margin-bottom: 5%">
    <h1># Tic-Tac-Toe </h1>
  </div>

  <div class="col">
    <h4 class="text-center">{{ gameData.firstPlayer.nick }}</h4>
    <br>
    <img src="./assets/img/firstPlayer.png" alt="firstPlayer" height="150" width="150" class="img-game center-c">
    <br>
    <div class="text-center">
      <span class="badge badge-success" *ngIf="gameData.firstPlayer.id === currentTurn">TURNO ACTUAL</span>
      <span class="badge badge-secondary" *ngIf="gameData.firstPlayer.id !== currentTurn">ESPERA TU TURNO</span>
    </div>
  </div>

  <div class="col text-center">

    <table class="table table-bordered game-table">
      <tbody>
      <tr>
        <td (click)="selectedBoxes(1)"><div class="text-game">{{ gameData.boxes['box_1'].value }}</div></td>
        <td (click)="selectedBoxes(2)"><div class="text-game">{{ gameData.boxes['box_2'].value }}</div></td>
        <td (click)="selectedBoxes(3)"><div class="text-game">{{ gameData.boxes['box_3'].value }}</div></td>
      </tr>
      <tr>
        <td (click)="selectedBoxes(4)"><div class="text-game">{{ gameData.boxes['box_4'].value }}</div></td>
        <td (click)="selectedBoxes(5)"><div class="text-game">{{ gameData.boxes['box_5'].value }}</div></td>
        <td (click)="selectedBoxes(6)"><div class="text-game">{{ gameData.boxes['box_6'].value }}</div></td>
      </tr>
      <tr>
        <td (click)="selectedBoxes(7)"><div class="text-game">{{ gameData.boxes['box_7'].value }}</div></td>
        <td (click)="selectedBoxes(8)"><div class="text-game">{{ gameData.boxes['box_8'].value }}</div></td>
        <td (click)="selectedBoxes(9)"><div class="text-game">{{ gameData.boxes['box_9'].value }}</div></td>
      </tr>
      </tbody>
    </table>

    <div class="col-12 text-center mb-6" style="margin-top: 5%; margin-bottom: 5%">
      <button type="button" class="btn btn-outline-dark" (click)="logout()">Salir</button>
    </div>

  </div>

  <div class="col">
    <h4 class="text-center">{{ gameData.secondPlayer.nick }}</h4>
    <br>
    <img src="./assets/img/secondPlayer.png" alt="secondPlayer" height="150" width="150" class="img-game center-c">
    <br>
    <div class="text-center">
      <span class="badge badge-success" *ngIf="gameData.secondPlayer.id === currentTurn">TURNO ACTUAL</span>
      <span class="badge badge-secondary" *ngIf="gameData.secondPlayer.id !== currentTurn">ESPERA TU TURNO</span>
    </div>
  </div>

</div>
